{% extends 'layout.twig' %}

{% block pageContent %}
    <!-- Banner -->
    <section id="banner">
        <div class="content">
            <header>
                <h1>Sonos werkt aan eerste bluetooth luidspreker</h1>
                <p>Gepost op <b>12-08-2019</b> door <a href="#">Pierke</a></p>
            </header>
            <p>Sonos werkt aan een bluetoothspeaker, zo schrijft The Verge op basis van documenten. De nieuwe bluetooth speaker zou in de herfst van dit jaar verschijnen.

                De documenten beschrijven een nieuwe hoogwaardige draadloze speaker met een primaire onder...</p>
            <ul class="actions">
                <li><a href="/oneup.php?news=3" class="button big">Lees meer</a></li>
            </ul>
        </div>
        <span class="image object">
			<img src="/files/newsimages/news3.jpg" alt="Sonos luidspreker" />
		</span>
    </section>
    <!-- News Section -->
    <section>
        <header class="major">
            <h2>Meest gelezen</h2>
        </header>
        <div class="posts">

            <article>
                <a href="#" class="image"><img src="files/newsimages/news2.jpg" alt="Postbus Bpost" /></a>
                <h3>Bpost gaat 200 informaticajobs uitbesteden naar India</h3>
                <p>Bpost gaat het contract beëindigen van ongeveer 200 informatici van externe Belgische bedrijven en hun taken verhuizen naar India. Dat blijkt uit een ...</p>
                <p>Gepost op <b>18-07-2019</b> door <a href="#">Joris</a></p>
                <ul class="actions">
                    <li><a href="oneup.php?news=2" class="button">Lees meer</a></li>
                </ul>
            </article>
            <article>
                <a href="#" class="image"><img src="files/newsimages/news1.jpg" alt="David Bowie in concert" /></a>
                <h3>David Bowie en Leonard Cohen postuum genomineerd voor Brit Awards</h3>
                <p>De vorig jaar overleden muzikanten David Bowie en Leonard Cohen werden genomineerd voor de Brit Awards, die binnen een maand uitgereikt worden.
                    AP
                    D...</p>
                <p>Gepost op <b>16-07-2019</b> door <a href="#">Pieter</a></p>
                <ul class="actions">
                    <li><a href="oneup.php?news=1" class="button">Lees meer</a></li>
                </ul>
            </article>
            <article>
                <a href="#" class="image"><img src="files/newsimages/news3.jpg" alt="Sonos luidspreker" /></a>
                <h3>Sonos werkt aan eerste bluetooth luidspreker</h3>
                <p>Sonos werkt aan een bluetoothspeaker, zo schrijft The Verge op basis van documenten. De nieuwe bluetooth speaker zou in de herfst van dit jaar verschi...</p>
                <p>Gepost op <b>12-08-2019</b> door <a href="#">Pierke</a></p>
                <ul class="actions">
                    <li><a href="oneup.php?news=3" class="button">Lees meer</a></li>
                </ul>
            </article>


        </div>
    </section>
{% endblock %}